<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>

    <form action="/saveRecord" method="GET">
        First name: <input type="text" name="firstName"><br>
        Last name: <input type="text" name="lastName"><br>
        Wins: <input type="number" name="wins"><br>
        Loses: <input type="number" name="loses"><br>
        Draws: <input type="number" name="draws"><br>
        Contact Number: <input type="text" name="contactNum"><br>
        <input type="submit" value="Create Account">
    </form>
</head>
<body>

</body>
</html>