<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
    <title> Create User </title>
</head>
<body>

    <h1>Create User</h1>

    <form action="/saveUser" method="GET">
        First name: <input type="text" name="firstName"><br>
        Middle name: <input type="text" name="middleName"><br>
        Last name: <input type="text" name="lastName"><br>
        Age: <input type="number" name="age"><br>
        Gender: <input type="text" name="gender"><br>
        <input type="submit" value="Create Account">
    </form>

</body>
</html>