<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:include="partials/header">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light" th:include="partials/nav"></nav>
    <div class="container">

        <h2 class="test-text">Scrabble Challenge</h2>
        <form method="POST" modelAttribute="player">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Profile Name" name="storedPlayerName">
        </form>
        <br />
        <a href="/viewProfile" class="button">View Profile</a>
        <br />
        <a href="/viewLeaderboard" class="button">View Leaderboard</a>
        <br />
        <a href="/createProfile" class="button">Create Profile</a>
        <br />
        <a href="/editProfile" class="button">Edit Profile</a>

    </div>
</body>

</html>